.machine-config-board {
  position: relative;
  width: 100%;
  height: 500px; /* wysokość planszy */
  border: 2px solid #cc6600;

  /* ustawienie grafiki jako tła */
  background-image: url("WIA.00.00.00.png"); /* obraz jako tło */
  background-size: cover; /* dopasowanie do całego obszaru */
  background-position: center;
  background-repeat: no-repeat;

  margin-top: 20px;
  overflow: hidden;
}
.machine-button {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid #cc6600;
  background-color: #ffcc99;
  cursor: pointer;
  border-radius: 4px;
}.machine-config-board {
  background-size: 120%; /* zamiast cover */
  background-position: center;
}


.machine-button:hover {
  background-color: #ffaa33;
  color: #fff;
}